/* Add this to your stylesheet */
.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
    z-index: -1;
  }
  
  .fade-in.visible {
    opacity: 0.6;
    z-index: 10;

  }
  .fade-in.vis {
    opacity: 1;
    z-index:100;

  }
  